.App {
  text-align: center;
  width: 1000px;
  margin: 10px auto;
  border-radius: 15px;
  border: 1px solid #eee;
  background-color: white;
  padding: 10px 50px;
}

.main-section{
  display: flex;
}

.LeftSection{
  flex: 1;
}
.RightSection{
  flex: 1;
}